.greenBackgroundButton{
    color: black;
    display: inline-block;
    width: fit-content;
  }

  .greenBackgroundButton:hover{
    color: orange;
  }
  .coachName{
    font-weight: bold;
}
.input-no-border {
  --lwc-shadowButtonFocus: 0;
  --lwc-borderWidthThin: 0;
  --slds-c-input-shadow-focus: 0;
  --sds-c-input-shadow-focus: 0;
}
.appointmentType{
  display: inline-flex;
}
.slotCss{
  font-weight: bold;
}
.slotDynamicCss{
  background: orange;
  color: white;
}
.timeSlotSection{
  max-height: 400px;
  overflow: auto;
}
.coachNameCss{
  align-content: center;
  margin-left: 5px;
}
.thankYousection{
  color: white;
}
.coachHeading{
  padding: 11px;
}
.appTypeText{
  font-size: x-small;
    align-self: center;
}
.coachAppTimeClass{
  margin: 5px;
  border: 3px solid orange;
}
.appButton{
  margin: 5px;
  border: 1px solid black;
}
@media (min-height: 270px) { 
  .reviewMobileForm{ 
      max-height: 274px;
      overflow: auto;
  }
}
.cancelButton{
  border: 2px solid #ccc !important; /* Gray border */
  background-color: #fff !important; /* White background */
  color: #000 !important; /* Black font color */
}
.cancelButtonReview{
  border:none;
  padding-bottom:1px !important;
  border-radius: none !important;
  background-color: #ccc !important; /* White background */
  color: #000 !important; /* Black font color */
}
.selectDateLabel{
  align-self: center;
  float: left;
}